.divider {
  margin: 10px 0;
}

.divider {
  position: relative;


  .err_icons {
    background-position: -402px -353px !important;
  }

  .ok_icons {
    background-position: -402px -330px !important;
  }

  .icons {
    background-size: 440px 411px !important;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    transition: .5s;
    right: 15%;
    top: 20%;
  }
}

.authSubmit {
  width: 70%;
  padding: 7px 16px;
  background-color: rgb(0, 149, 246);
  color: white;
  cursor: pointer; 
  border-radius: 8px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
}

.auth_page_bottomCard {
  background-color: white;
  width: 350px;
  border-radius: 1px;
  padding: 10px 0;
  border: 1px solid #eee;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}