@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(250, 250, 250);
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}